* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
}

.orta{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 500px auto;
    font-size: 80px;
}




